packages/**/dist/**

# dependencies
node_modules
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

examples/**/dist/**
examples/**/.next
examples/**/node_modules/**
examples/**/.env.local

.env.local
.parcel-cache